<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {{> header}}

    <main>
      <p>Some text here</p>
    </main>

    {{> footer}}
  </body>
</html>
